{% extends 'home.html' %}

{% block content %}


    <!-- Main content -->
    <section class="content">
        <div class="row">
          <!-- left column -->
          <div class="col-lg-12">
            <!-- general form elements -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Product Listing (Medicine) </h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <form method="post" action="{% url 'additem' %}">
                {% csrf_token %}
                <div class="box-body">

                  <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title">Specifications</h3>
                      <hr>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Name</label>
                        <textarea class="textarea" name="medname" placeholder="" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Overview</label>
                        <textarea class="textarea" name="over" placeholder="" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Uses</label>
                        <textarea class="textarea" name="use" placeholder="" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Benifits</label>
                        <textarea class="textarea" name="benifit" placeholder="" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Side Effects</label>
                        <textarea class="textarea" name="sideefct" placeholder="" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">How to use</label>
                        <textarea class="textarea" name="howto" placeholder="" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">How Drug Works</label>
                        <textarea class="textarea" name="howdrgwrk" placeholder="" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Safety Advise</label>
                        <textarea class="textarea" name="safeadv" placeholder="" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Missed Dose Advise</label>
                        <textarea class="textarea" name="misseddose" placeholder="" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Quick Tips</label>
                        <textarea class="textarea" name="quickt" placeholder="" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                      </div>
                      <div class="mb-3 col-sm-4">
                        <label class="form-label">Manufacturer</label>
                        <input type="text" name="manufac" class="form-control" >
                      </div>
                      <div class="mb-3 col-sm-4">
                        <label class="form-label">Expiry Date</label>
                        <input type="text" name="expd" class="form-control" >
                      </div>
                      <div class="mb-3 col-sm-4">
                        <label class="form-label">Manufacturing Date</label>
                        <input type="text" name="mfd" class="form-control" >
                      </div>
                    </div>
                  </div>
                  
                  <div class="box box-success">
                    <div class="box-header with-border">
                      <h3 class="box-title">Pricing</h3>
                      <hr>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Marked Price</label>
                        <input type="text" name="markp" class="form-control" >
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Discount</label>
                        <input type="text" name="dis" class="form-control" >
                      </div>
                    </div>
                  </div>
                  
                  <!-- <div class="box box-danger">
                    <div class="box-header with-border">
                      <h3 class="box-title">Other Specifications</h3>
                      <hr>
                      <div class="mb-3 col-sm-12">
                        <textarea class="textarea" placeholder="" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                      </div>
                    </div>
                  </div> -->
                  
                  <div class="box box-warning">
                    <div class="box-header with-border">
                      <h3 class="box-title">Images</h3>
                      <hr>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Image1</label>
                        <input type="file" name="img1" class="form-control-file" >
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Image2</label>
                        <input type="file" name="img2" class="form-control-file">
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Image3</label>
                        <input type="file" name="img3" class="form-control-file" >
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Image4</label>
                        <input type="file" name="img4" class="form-control-file">
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Image5</label>
                        <input type="file" name="img5" class="form-control-file" >
                      </div>
                      <div class="mb-3 col-sm-6">
                        <label class="form-label">Image6</label>
                        <input type="file" name="img6" class="form-control-file">
                      </div>
                    </div>
                  </div>
                  

                </div>
                <!-- /.box-body -->
                <div class="box-footer ">
                  <button type="submit" class="btn btn-primary">Save Item Details</button>
                
                </div>
                  
              </form>
            </div>
            <!-- /.box -->
  
            
        </div>
        <!-- /.row -->
        </div>
      </section>
      <!-- /.content -->
    

{% endblock %}